In [4]:
import pandas

In [5]:
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')

In [6]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [9]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape

(1704, 6)

In [12]:
df.shape()

TypeError: 'tuple' object is not callable

In [13]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [15]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [16]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [ ]:
df.info()

# Subsetting

In [ ]:
country_df = df['country']

In [ ]:
country_df.head()

In [ ]:
country_df.tail()

In [ ]:
type(country_df)

In [ ]:
subset = df[['country', 'continent', 'year']]

In [ ]:
subset.head()

In [ ]:
pandas.__version__

In [ ]:
df[[0, 1]]

In [ ]:
df.head()

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0, 99]]

In [ ]:
df.loc[-1]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 99]]

In [ ]:
df.iloc[-1]

In [ ]:
df.ix[0]

In [ ]:
subset = df.loc[:, ['year', 'pop']]

In [ ]:
subset.head()

In [ ]:
subset = df.iloc[:, [2, 4]]
print(subset.head())

In [ ]:
subset = df.iloc[-5::2, :]
subset.head()

# grouped calculations

In [ ]:
df.head()

In [ ]:
df.groupby('year')['lifeExp'].mean()

In [ ]:
df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [ ]:
df\
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]\
    .mean()

In [ ]:
(df
    .groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']]
    .mean()
    .reset_index()
)

In [ ]:
import matplotlib.pyplot as plt
# probably don't need the magic anymore
%matplotlib inline

(df
     .groupby(['year'])
     [['lifeExp']]
     .mean()
     .plot()
)
plt.show()